@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Language> localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection{
    <script src="/scripts/test/testtable.js"></script>
    <script type="text/javascript" language="JavaScript">
        layui.use(['i18np'], function () {
            var i18np = layui.i18np;

            var language = localStorage.getItem('language');
            i18np.load(language);

            console.log('Message Index language:', language);
            console.log('Message Index i18n:', i18np.prop('haha'));
            console.log('Message Index i18n:', i18np.prop('not exist yet'));
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@localizer["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@localizer["building Web apps with ASP.NET Core"]</a>.</p>
    <p>
        <input type="button" value="English" onclick="changeLanguage('en'); location.href='@Url.Action("SelectLanguage", "Home", new { language = "en-US" })'" />
    </p>
     <p>
            <input type="button" value="中文" onclick="changeLanguage('zh'); location.href='@Url.Action("SelectLanguage", "Home", new { language = "zh-CN" })'" />
     </p>

    <table id="MessageList" lay-filter="MessageList"></table>
</div>

<script src="~/lib/banana-i18n.min.js"></script>
<script>
    var banana = new Banana();
    banana.setLocale("zh");

    fetch('/i18n/demo-' + banana.locale + '.json').then((response) => response.json()).then((messages) => {
        banana.load(messages, banana.locale)
        console.log('Test i18n in Index.html', banana.i18n('Category'))
    })
</script>
