@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Language> localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@localizer["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@localizer["building Web apps with ASP.NET Core"]</a>.</p>
    <p>
        <input type="button" value="English" onclick="location.href='@Url.Action("SelectLanguageEnglish", "Home")'" />
    </p>
     <p>
        <input type="button" value="中文" onclick="location.href='@Url.Action("SelectLanguageChinese", "Home")'" />
     </p>
</div>
